<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <!-- Path relative to directory that contains .runsettings file-->
    <ResultsDirectory>.\TestResults</ResultsDirectory>

    <!-- x86 or x64 -->
    <!-- You can also change it from the Test menu; choose "Processor Architecture for AnyCPU Projects" -->
    <TargetPlatform>x86</TargetPlatform>

    <!-- Framework35 | [Framework40] | Framework45 -->
    <TargetFrameworkVersion>netcoreapp3.1</TargetFrameworkVersion>

    <!-- TestSessionTimeout was introduced in Visual Studio 2017 version 15.5 -->
    <!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
    <!--<TestSessionTimeout>100000</TestSessionTimeout> -->
  </RunConfiguration>

  <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <Parameter name="appURL" value="Target URL" />
    <Parameter name="browser" value="Chrome" />
    <Parameter name="login_user" value="User" />
    <Parameter name="login_password" value="Password" />
  </TestRunParameters>

</RunSettings>